/* Colors for style 
color: #1a293f;
color: #f24606; 
*/

* {
      box-sizing: border-box;
      
  }

body {
    color: #1a293f;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1.5px;
}

li, a {
    text-decoration: none;
    list-style: none;
    color: #1a293f;
}

a:hover {
    border-bottom: solid 2px #1a293f;
    padding-bottom: 10px;
    transition: all 0.4s;
}

.product-page a:hover {
    border: none;
    padding-bottom: 0px;
}

h2, h3 {
    font-weight: normal;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  

/********** alerts section **********/

.alerts {
    width: 100%;
    height: 42px;
    background-color: #1a293f;
    color: #FFF;
    text-align: center;
    padding-top: 12px;
}
/********** alerts section **********/
/********** header section **********/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.logo {
    margin-right: 80px;

}

.nav-links-right {
    padding-right: 40px;

}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    margin: auto;
}

/********** header section **********/
/********** hero-banner section **********/

.about-banner-nashi-watch {
    background: url(../images/watch-banners-nashi-1400x500.jpg);
}

.about-banner-kazu-watch {
    background: url(../images/watch-banners-kazu-1400x500.jpg);
}

.about-banner-contact {
    background: url(../images/watch2-5-1400x500.jpg);
}

.about-banner-world {
    background: url(../images/world-banner-1400x500.jpg);
}

.about-banner-watch {
    background: url(../images/watchesbanner-1400x500.jpg);
}

.about-banner-about {
    background: url(../images/about-banner-1400x500.jpg);
}

.about-banner-kazu-midnight {
    background: url(../images/Watches3-1400x500.jpg)
}

.about-banner-kazu-pearl {
    background: url(../images/Watches20-1400x500.jpg)
}

.about-banner-kazu-heritage-navy {
    background: url(../images/Watches9-1400x500.jpg)
}

.about-banner-nashi-pearl {
    background: url(../images/Watches4-1400x500.jpg)
}

.about-banner-nashi-emerald {
    background: url(../images/Watches14-1400x500.jpg)
}

.about-banner-nashi-heritage-pearl {
    background: url(../images/watch-nashi-1-1400x500.jpg)
}

.about-banner-nashi-pearl-gold {
    background: url(../images/watch-nashi-2-1400x500.jpg);
}


.hero-banner {
    height: 500px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
}
/********** hero-banner section **********/

.title {
    display: block;
    margin: 30px auto;
    max-width: 1200px;
    letter-spacing: 2px;
}


.title h2 {
    font-size: 40px;
    text-transform: uppercase;
}

.title p {
    line-height: 1.6;
    
}

.world-title {
    margin: 0px auto 30px;
}




/********** main-products section **********/

.main-products-wrapper {
    display: flex;
    background-color: #1a293f;
    padding: 40px 0px;
}

.bg-white {
    background-color: #FFF;
}

.main-products {
    width: 500px;
    margin: auto;
}

.main-products img {
    width: 500px;
}

.main-world {
    width: 600px;
}

.main-world img{
    width: 600px;
}

.main-watches {
    width: 300px;
}

.main-watches img{
    width: 300px;
}

.main-products-tile {
    text-align: center;
    min-height: 150px;
    margin: auto;
    background-color: #FFF;
}

.main-about {
    display: flex;
}

.tile-title {
    /* font-size: 500%; */
    margin-bottom: 0px;
}
.tile-title h2 {
    margin: 0px;
    padding: 15px 0px;
    font-size: 50px;
}

.tile-title p {
    text-align: left;
    line-height: 2;
}

.tile-cta {
    margin: auto;
    display: inline-block;
}

.tile-cta a {
    padding: 11px 15px;
    height: 50px;
    width: 200px;
    border: 3px #1a293f solid;
    margin: auto;
    display: inline-block;
}

.tile-cta:hover {
    background-color: #1a293f;
    color: #FFF;
    border: none;
    transition: all 0.4s;
}

.tile-cta a:hover {
    color: #FFF;
}

/********** main-products section **********/
/********** about-row section **********/
.about-wrapper {
    display: block;
}

.about-row {
    display: flex;
    flex-direction: row;
    margin: 80px;
    flex-wrap: wrap;
}

.about-text{
    display: inline-block;
    max-width: 600px;
    padding: 30px;
}

.about-content {
    margin: auto;
    text-align: justify;
    line-height: 2.5;
}


/********** about-row section **********/

/********** trending now section **********/

.trending-wrapper {
    margin: 80px 0px;
}

.trending-title {
    float: left;
    display: flex;
    align-items: center;
    width: 300px;
    height: 360px;
    border-right: 2px solid #1a293f;
    text-align: left;
    margin-right: 40px;
    font-size: 40px;}

.trending-title span {
    margin: auto;
    border-bottom: 2px solid #1a293f;
    border-top: 2px solid #1a293f;
    padding: 35px 0px;


}

.new-releases-title {
    font-size: 40px;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

.card {
    margin: 0px 12px;
    transition: all .3s ease-in-out;
}

.card-left {
    margin-left: 120px;
}

.card-bump:hover {
    transform: translate(0, -30px);
}

.card-overlay:hover {
    opacity: .5;
    background-color: #1a293f;
    transform: scale(1.05);
}

.card span {
    padding-top: 10px;
    display: inline-block;
}
/********** trending now section **********/
/********** shop by style now section **********/



.shop-by-style-wrapper {
    max-width: 1200px;
    min-height: 500px;
    background-image: url("../images/watches1-4-1200x500.jpg");
    background-repeat: no-repeat;
    margin: 80px auto;
}
.world-tennis {
    background-image: url("../images/world-tennis-1200x500.jpg");
}

.world-architecture {
    background-image: url("../images/world-architecture-1200x500.jpg");
}

.world-equestrianism {
    background-image: url("../images/world-architecture-1200x500.jpg");
}

.world-art {
    background-image: url("../images/world-art-1200x500.jpg");
}

.world {
    margin: 80px auto 20px;
}

.shop-by-style-title {
    height: 150px;
    width: 500px;
    background-color: #FFF;
    position: relative;
    top: 50px;
    left: 100px;
    text-align: center;
    padding-top: 1px;
}

.shop-by-style-title span {
    margin: 10px 0;
    display: inline-block;
    font-size: 40px;
}
/********** shop by style section **********/
/********** new-releases-gallery-wrapper section **********/

.new-releases-gallery-shipping-wrapper {
    background-color: #1a293f;
    color: #FFF;
}


/* new-releases-title */
.new-releases-title {
    text-align: center;
    padding: 50px;
    display: block;
}
/* new-releases-title */

/* gallery */

.gallery {
    padding: 40px 0;
    margin: 80px;
}

.gallery-showcase {
   list-style: none;
   width: 100%;
   padding: 0px;
}

.gallery-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.gallery-image {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.gallery-image img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}
.gallery-image img:hover {
    opacity: 1;
    transform: scale(1.03);
}


/* gallery */

/* shipping information */
.shipping-wrapper {
    width: 90%;
    margin: auto;
    padding: 30px 0px 30px;
    display: flex;
    justify-content: space-between;
    background-color: #1a293f;
}

.shipping-tile {
    /* display: inline-block; */
    /* width: 380px; */
    margin: 0px 15px;
}

.shipping-tile-content {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.shipping-tile-content span {
    margin-left: 10px;
}

.shipping-tile h3 {
    display: inline-block;
    text-align: center;
}

.shipping-tile img {
    width: 50px;
}

/* shipping information */

/********** new-releases-gallery-wrapper section **********/

/* footer information */
.footer {
    display: flex;
    justify-content: space-around;
    margin: 0px 40px;
    padding: 80px 120px 80px 0px;
    font-size: 80%;
}

.footer-nav-links {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    font-size: 25px;
}

.footer-col {
    display: flex;
    flex-direction: column;
}

.footer-col ul {
    margin: 0px;
    padding: 0px;
}

.footer-col ul li {
    margin: 15px 0px;
}

.footer-col img {
    max-width: 300px;
}

.footer-col h3 {
    margin: 0px 0px 40px 0px;
}

.footer-col ul a:hover {
    padding-bottom: 1px;
    transition: all .1s;
    border-bottom: solid 1px #1a293f;

}
/* footer information */

/* On screens that are 1400px or more */
@media screen and (min-width: 1450px) {
    .main-products {
        width: 600px;
        margin: 0px auto 30px;

    }

    .main-products img {
        width: 600px;
    }

    .about-row img {
        max-width: 600px;
    }
 
  }

  

@media screen and (max-width: 1449px) {
    .main-products {
        margin: 0px auto 30px;
    }

    .card-left {
        margin: 0px 40px;
    }
  }

/* On screens that are 992px or less */
@media screen and (max-width: 1200px) {
    .main-products {
        max-width: 400px;
        margin-bottom: 30px;
    }

    .main-products img {
        max-width: 400px;
    }

    .title-mobile {
        padding: 0px 40px;
    }

    .title h2 {
        font-size: 25px;
    }
  }

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
    .main-products {
        max-width: 350px;
        margin-bottom: 30px;
    }

    .main-products img {
        max-width: 350px;
    }

    .about-row {
        margin: 40px;
    }

    .footer {
         flex-direction: column;
         padding: 0px;
     }

     .footer-col {
         margin: 20px 0px;
     }

     .footer-col h3 {
         margin-bottom: 10px;
     } 
  }

/* On screens that are 800px or less */
@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }

    header :nth-child(1) { 
        order: 2; 
    }

    header :nth-child(2) { 
        order: 1; 
    }

    header :nth-child(3) { 
        order: 3; 
    }

    .nav {
        margin: auto;
    }

    .nav-links {
        padding: 0px;
    }

    .logo {
        margin: auto;
    }

    .main-products {
        max-width: 300px;
        margin-bottom: 30px;
    }

    .main-products img {
        max-width: 300px;
    }



    .shipping-wrapper {
         display: flex;
         flex-direction: column;
     }
  }
/* 
  @media screen and (max-width: 768px) {
    .about-text {
        padding: 30px 0px;
  }
} */

  @media screen and (max-width: 760px) {
    .about-row img {
        max-width: 500px;
    }  

    .about-row {
        margin: 20px;
    }

    .about-text {
        padding: 30px 0px;
  }

  }

  @media screen and (max-width: 560px) {
    .about-row img {
        max-width: 400px;
    }  

    .about-row {
        margin: 20px;
    }
  }

  @media screen and (max-width: 460px) {
    .about-row img {
        max-width: 300px;
    }  

    .about-row {
        margin: 40px;
    }

  }

  @media screen and (max-width: 380px) {
    .about-row img {
        max-width: 250px;
    }  

    .about-row {
        margin: 20px;
    }

  }


/* On screens that are 600px or less */
@media screen and (max-width: 600px) {


    .main-products-wrapper {
        display: block;
    }

    .trending-title span {
        margin: auto;    
    }
    
    .trending-wrapper {
        display: flex;
        flex-direction: column;
    }

    .trending-title {
        font-size: 40px;
        border: none;
        margin: 20px auto;   
        max-width: 300px;   
        height: 200px;
        text-align: center;
     }

    .shop-by-style-wrapper {
        display: flex;
        justify-content: center;  
        align-items: center;
    }

     .shop-by-style-title {
        top: 0px;
        left: 0px;
        width: 100%;
        height: 200px;
        opacity: .9;
     }

     .tile-cta {
         margin: 5px auto;
     }

     .card-left {
        margin: 0 12px;
     }

     .new-releases-card-small img{
         width: 300px;
     }
}

@media screen and (min-width: 761px) {
    .about-content {
        flex: 0 0 50%;  
        max-width: 50%;
      }
      
  }
